<style>
  body {
    background-color: #f1f1f1 !important;
}
.container {
    background-color: white;
}

</style>
<div class="container" style="border: 1.5px solid #dbdbdb;border-radius: 13px;">
  <div class="row">
    <div class="col-sm-6" style="border-right: 3px solid #dbdbdb;">
      <form>
        <div class="form-group">
          <h3>Test with your own text</h3>
          <textarea style="
    width: 100% !important;
    padding: 9px;
" #textInput placeholder="Place yours text" required rows="10" cols="60" ></textarea>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary btn-lg" style="
    background-color: #41a1f0;
    width: 221px;
"
                  (click)="postText(textInput.value);  textInput.value=''; ">
            Classify Text
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <h3>Results</h3>
      <div class="col-bg-12">
        <h4>Cleaned Text</h4>
      </div>
      <div class="col-bg-12" style="
    min-height: 70px;
    border: 0.5px solid #dcdcdc;
    padding: 3px;
">
        {{classification.text}}
      </div>
      <div class="col-bg-12">
        <h4>Sentiment</h4>
      </div>
      <div class="col-sm-12" style="
    min-height: 70px;
    border: 0.5px solid #dcdcdc;
    padding: 5px;
">
        {{classification.sentiment}}
      </div>
    </div>
  </div>
</div>

