<style>
  body {
    background-color: #f1f1f1 !important;
}
.container {
    background-color: white;
}
.customTextArea{
    min-height: 220px;
    border: 0.5px solid #767676;
    padding: 5px;
}
.positive {
    background-color: green;
}

.negative {
    background-color: red;
}

.neutral {
    background-color: #d99f6e;
}

.text-white{
  color:white
}

</style>
<div class="container" style="border: 1.5px solid #dbdbdb;border-radius: 13px;">
  <div class="row">
    <div class="col-sm-6" style="border-right: 3px solid #dbdbdb;">
      <form>
        <div class="form-group">
          <h3>Test with your own text</h3>
          <textarea style="
    width: 100% !important;
    padding: 9px;
" #textInput placeholder="Place yours text" required rows="10" cols="60"></textarea>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary btn-lg" style="
    background-color: #41a1f0;
    width: 221px;
"
                  (click)="postText(textInput.value);  textInput.value=''; ">
            Classify Text
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <h3>Cleaned Text</h3>
      <div class="col-bg-12 customTextArea">
        {{classification.text}}
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">

        <table class="table">
          <thead>
          <tr>
            <th scope="col">Model</th>
            <th scope="col">Sentiment</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Logistic Regression</td>
            <td class="text-white" [ngClass]="{
            'positive' : classification.logistic_regression.Sentiment === 'Positive',
            'negative' : classification.logistic_regression.Sentiment === 'Negative',
            'neutral' : classification.logistic_regression.Sentiment === 'Neutral'
         }">{{classification.logistic_regression.Sentiment}}
            </td>
          </tr>
          <tr>
            <td>Support Vector Machine</td>
            <td class="text-white" [ngClass]="{
            'positive' : classification.svm.Sentiment === 'Positive',
            'negative' : classification.svm.Sentiment === 'Negative',
            'neutral' : classification.svm.Sentiment === 'Neutral'
         }">{{classification.svm.Sentiment}}
            </td>
          </tr>
          <tr>
            <td>Naive Bayes</td>
            <td class="text-white" [ngClass]="{
            'positive' : classification.naive_bayes.Sentiment === 'Positive',
            'negative' : classification.naive_bayes.Sentiment === 'Negative',
            'neutral' : classification.naive_bayes.Sentiment === 'Neutral'
         }">{{classification.naive_bayes.Sentiment}}
            </td>
          </tr>
          <tr>
            <td>MLP</td>
            <td class="text-white" [ngClass]="{
            'positive' : classification.mlp.Sentiment === 'Positive',
            'negative' : classification.mlp.Sentiment === 'Negative',
            'neutral' : classification.mlp.Sentiment === 'Neutral'
         }">{{classification.mlp.Sentiment}}
            </td>
          </tr>
          </tbody>
        </table>
        <hr>
        <h4>Logistic Regression</h4>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">Sentiment</th>
            <th scope="col">Probabilities</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Neutral</td>
            <td>{{classification.logistic_regression_proba.neutral}}</td>
          </tr>
          <tr>
            <td>Negative</td>
            <td>{{classification.logistic_regression_proba.negative}}</td>
          </tr>
          <tr>
            <td>Positive</td>
            <td>{{classification.logistic_regression_proba.positive}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
</div>


